<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Meritnation/Jar Files/selenium-server-standalone-2.53.1.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Meritnation"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea  "/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
<mapEntry key="com.applect.meritnation.scripts.StudyTest" value="TC_053_VerifyBoardPapterSolutionTest"/>
</mapAttribute>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.applect.meritnation.scripts.StudyTest"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST">
<listEntry value="TC_053_VerifyBoardPapterSolutionTest"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="4"/>
</launchConfiguration>
